.container {
    display: grid;
    /* grid-template-columns: auto auto auto; */
    /* grid-template-columns: 1fr 266px 266px 1fr;
    grid-template-rows: repeat(2, 200px);
    grid-auto-rows: 5rem;
    gap: 5px; */
}

.item {
    text-align: center;
}

div {
    padding-bottom: 10px;
  }
