<html>
    <head>
        <title>Realtime Stock Charts</title>
        <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
        <script src="{{ url_for('static', path='/jquery-3.6.0.js') }}"></script>
    </head>
    <body>
        <h1>Chart</h1>
        

        <div>
            
            <div>
                <p>Выберите stock чтобы видеть график.</p>
                <label for="stock_ticker">Stocks:</label>
                <select id="selectStock" name="stock_ticker">
                    <option></option>
                    {% for stock in stock_tickers %}
                        <option value="{{ stock.ticker }}">
                            {{ stock.ticker }}
                        </option>
                {% endfor %}
                </select>
                <button id="btGetStockChart" onclick="getChart()">Get chart</button>
                <button id="btPauseStockChart" onclick="clearTimeout(stock_chart_timeout);">Pause chart refresh</button>
                <button id="btContinueStockChart" onclick="getChart()">Continue chart refresh</button>
            </div>
            
            <div id="chart_div">
            </div>
        </div>
        
        <div class="row">
            <label for="divTop10Table">Top 10 Stocks:</label>
            <div class="divTop10Table">
                {{ top10_table|safe }}
            </div>
            
        </div>
        
        
    </body>
    <script>
        var stock_chart_timeout;
        function getChart() {
            var ticker = $("#selectStock").val();
            if (ticker === "") {
                alert("Please select a stock!");
                throw "ticker not selected"
                clearInterval(stock_chart_interval);
            }
            var url = `/stock/chart/${ticker}`
            $.get(`/stock/chart/${ticker}`, {},
                function (returnedHtml) {
                    $("#chart_div").html(returnedHtml);
            });

        }

        function clearTimeOut(name) {
            clearTimeout(name);
        }

        function setTimeOutForGetChart() {
            stock_chart_timeout = setTimeout(function () {getChart()}, 1000); //Every second
        }

        // Select the target node.
        var target = document.getElementById('chart_div');

        // Create an observer instance.
        var observer = new MutationObserver(function(mutations) {
            setTimeOutForGetChart(); 
        });

        // Pass in the target node, as well as the observer options.
        observer.observe(target, {
            attributes:    true,
            childList:     true,
            characterData: true
        });
        
    </script>
</html>